<div class="login-container">
  <!-- <h2>Se connecter à votre compte</h2> -->
  <form class="login-form" [formGroup]="loginForm">
    <img width="120px" src="assets\FSAC LOGO.jpg" alt="Logo FSAC" class="logo">
    <div class="text-container">
      <p class="left-align">Bienvenue</p>
      <h1 class="left-align">Se connecter à votre compte</h1>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Saisissez l'adresse mail" formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          Veuillez vérifier l'adresse mail
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          Veuillez vérifier le mot de passe
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-error *ngIf="loginError"> Veuillez vérifier vos informations</mat-error>
    <button mat-raised-button [disabled]="loginForm.invalid" class="submit-button" (click)="onSubmit()">Se connecter</button>
    <button mat-raised-button class="submit-button" (click)="loginAsGuest()">Continuer en tant qu'invité</button>
  </form>
</div>
