@import 'C:\Users\hamza\Desktop\pfefront\src\custom-theme.css';

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  margin: auto !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin:auto;
}

.login-form mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.login-form button {
  width: 100%;
  margin-bottom: 5%;
}

.submit-button{
  background-color: var(--custom-primary);
  color: white !important;
  border-radius: 40px !important;
}
