<div class="login-container">
  <form class="login-form">
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Saisissez l'adresse mail'">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onLogin()" class="submit-button">Se connecter</button>
    <button mat-raised-button color="primary" (click)="onLogin()" class="submit-button">Continuer en tant qu'invité</button>
  </form>
</div>



