.table-scroll {
  flex-grow: 1;
  overflow-y: auto;
}
.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px; /* Add margin to the sides of the table */
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  padding: 8px; /* Adjust the cell padding as needed */
}
