<div class="announcements-container">
  <div class="breadcrumb-container">
    <a routerLink="" class="breadcrumb-link">Home</a>
    <a class="breadcrumb-separator">/</a>
    <a routerLink="/annonces" class="breadcrumb-link">Liste des annonces</a>
    <div class="breadcrumb-button">
      <button mat-raised-button class="mat-button" routerLink="/creerannonce"><mat-icon fontIcon="add"></mat-icon>Créer une annonce</button>
    </div>
  </div>
  <hr>

  <div class="announcement-card-container">
    <div class="announcement-card" *ngFor="let announcement of announcementData" (click)="openAnnouncement(announcement.id)">
      <div class="card-image">
        <img [src]="announcement.image" alt="Announcement Image">
      </div>
      <div class="card-content">
        <h3>{{ announcement.title }}</h3>
        <div class="announcement-infos">
          <p class="info-element">
            <span class="centered-content">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_accounts"></mat-icon>
              <span class="announcement-info">{{ announcement.created_by }}</span>
            </span>
          </p>
          <p class="info-element">
            <span class="centered-content">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="today"></mat-icon>
              <span class="announcement-info">{{ announcement.date }}</span>
            </span>
          </p>
          <p class="info-element">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups"></mat-icon>
            <span class="announcement-info">
              <span *ngFor="let category of announcement.categories" class="announcement-category">{{ category }},</span>
            </span>
          </p>
        </div>
        <p>{{ announcement.body | slice:0:200 }}{{ announcement.body.length > 100 ? '...' : '' }}</p>
      </div>
    </div>
  </div>
</div>

