<form [formGroup]="announcementForm">
  <mat-form-field>
    <input matInput type="text" id="title" formControlName="title" placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="5" id="body" formControlName="body" placeholder="Body"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput>
    <mat-form-field>
      <input matInput type="text" [value]="selectedFileName" placeholder="Select an image" [readonly]="true" (click)="fileInput.click()">
      <button matSuffix mat-icon-button (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </mat-form-field>
  </mat-form-field>

  <mat-checkbox formControlName="is_hidden">Hidden</mat-checkbox>

  <button mat-raised-button class="mat-button">Publier l'annonce</button>
  <button mat-raised-button class="mat-button">Planifier l'annonce</button>
  <button mat-raised-button class="mat-warn-button">Annuler</button>
</form>
