<div class="form-container">
  <div class="breadcrumb-container">
    <a routerLink="" class="breadcrumb-link">Home</a>
    <a class="breadcrumb-separator">/</a>
    <a routerLink="/annonces" class="breadcrumb-link">Liste des annonces</a>
    <a class="breadcrumb-separator">/</a>
    <a class="breadcrumb-link">Nouvelle annonce</a>
    <div class="breadcrumb-button">
    </div>
  </div>

  <hr>

  <!-- <form [formGroup]="announcementForm">
    <div class="flex-container">
      <div class="file-input" style="flex-grow: 3">
        <mat-form-field appearance="outline">
          <mat-form-field appearance="outline">
            <input matInput type="text" [value]="selectedFileName" placeholder="Select an image" [readonly]="true" (click)="fileInput.click()" >
            <button matSuffix mat-icon-button (click)="fileInput.click()">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </mat-form-field>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput formControlName="image" >
        </mat-form-field>
      </div>

      <div style="flex-grow: 6">
        <div>
          <mat-form-field appearance="outline">
            <mat-label> Titre de l'annonce</mat-label>
            <input matInput type="text" id="title" formControlName="title">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Catégories cibles</mat-label>
            <mat-select formControlName="category" multiple>
              <ng-container *ngFor="let category of flatCategories">
                <mat-option [value]="category.code">
                  {{ category.code }} - {{ category.title }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Contenu de l'annonce</mat-label>
            <textarea matInput rows="10" id="body" formControlName="body"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-buttons">
      <button mat-raised-button class="mat-button" (click)="onSubmit()">Publier l'annonce</button>
      <button mat-raised-button class="mat-button">Planifier l'annonce</button>
      <button mat-raised-button class="mat-warn-button" routerLink="/annonces">Annuler</button>
    </div>

  </form> -->

  <form [formGroup]="announcementForm">
    <mat-form-field appearance="outline">
      <mat-label> Titre de l'annonce</mat-label>
      <input matInput type="text" id="title" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Catégories cibles</mat-label>
      <mat-select formControlName="category" multiple>
        <ng-container *ngFor="let category of flatCategories">
          <mat-option [value]="category.code">
            {{ category.code }} - {{ category.title }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contenu de l'annonce</mat-label>
      <textarea matInput rows="10" id="body" formControlName="body"></textarea>
    </mat-form-field>

    <input type="file" formControlName="image" name="image" (change)="onFileSelect($event)">
    <button mat-raised-button class="mat-button" (click)="submit()">Publier l'annonce</button>
    
  </form>

</div>

