<div class="form-container">
  <div class="breadcrumb-container">
    <a routerLink="" class="breadcrumb-link">Home</a>
    <a class="breadcrumb-separator">/</a>
    <a routerLink="/annonces" class="breadcrumb-link">Liste des annonces</a>
    <a class="breadcrumb-separator">/</a>
    <a class="breadcrumb-link">Nouvelle annonce</a>
    <div class="breadcrumb-button">
    </div>
  </div>

  <hr>

  <form [formGroup]="announcementForm">
    
    <div class="row">
      <div class="col-3">
        <label for="images" class="drop-container">
          <mat-icon>upload_file</mat-icon>
          <span class="drop-title">Glissez et déposez un fichier</span>
          <p>JPEG,JPG,PNG ne dépassant pas 2Mo </p>
          <input type="file" id="images" accept="image/*" required formControlName="image" (change)="onFileSelect($event)">
        </label>
      </div>
      <div class="col-9">
        <mat-form-field appearance="outline">
          <mat-label> Titre de l'annonce</mat-label>
          <input  matInput type="text" id="title" formControlName="title">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Catégories cibles</mat-label>
          <mat-select formControlName="category" multiple>
            <ng-container *ngFor="let category of flatCategories">
              <mat-option [value]="category.code">
                {{ category.code }} - {{ category.title }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Contenu de l'annonce</mat-label>
          <textarea matInput rows="10" id="body" formControlName="body"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="form-buttons">
      <button mat-raised-button class="mat-button" class="mat-warn-button">Annuler</button>
      <button mat-raised-button class="mat-button" (click)="openDialog()" class="mat-button">Planifier l'annonce</button>
      <button mat-raised-button class="mat-button" (click)="submit()" class="mat-button">Publier l'annonce</button>  
    </div>    
    
  </form>

</div>

