@import 'src/custom-theme.css';

button.mdc-button.mdc-button--raised.mat-mdc-raised-button._mat-animation-noopable.mat-unthemed.mat-mdc-button-base{
  background-color: var(--custom-primary) !important;
  color: white !important;
  border-radius: 40px !important;
}
